src/lib/n8n-newsletter-workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "newsletter",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": "YOUR_GOOGLE_SHEET_ID",
                "range": "A:B",
                "options": {}
            },
            "id": "google-sheets-node",
            "name": "Save to Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "Sikeres feliratkozás! 🚀",
                "message": "Kedves Feliratkozó!\n\nKöszönjük, hogy feliratkoztál hírlevelünkre. Hamarosan küldjük a legfrissebb IT tippeket.\n\nÜdvözlettel,\nIT Services Csapat",
                "toEmail": "={{ $json.email }}"
            },
            "id": "gmail-node",
            "name": "Send Welcome Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Save to Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Google Sheets": {
            "main": [
                [
                    {
                        "node": "Send Welcome Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}